* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#main {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.main-left {
  width: 200px;
  height: 100%;
  float: left;
  background-color: #333;
  color: white;
  position: relative;
}

.main-right {
  height: 100%;
  margin-left: 200px;
  overflow: hidden;
  position: relative;
}

#canvas {
  background-color: whitesmoke;
  cursor: crosshair;
}

.userBox {
  border-top: 1px solid white;
  height: 200px;
  position: absolute;
  bottom: 200px;
  overflow: scroll;
  width: 100%;
}

.logBox {
  border-top: 1px solid white;
  height: 200px;
  position: absolute;
  bottom: 0;
  overflow: scroll;
  width: 100%;
}

.logBox .logItem {
  word-break: break-all;
  font-size: 12px;
}

.main-left .config div {
  padding: 0 10px;
  margin: 5px 0;
}

.main-left .username {
  width: 100%;
  font-size: 18px;
}

.cursor {
  position: absolute;
  z-index: 99;
  cursor: crosshair;
  user-select: none;
}

.cursor i {
  transform: rotateZ(90deg);
}